
.cards--parent{
    display: flex;
    padding-top: 15px;
    width: 95%;
    align-self: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .cards--parent{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        width: 95%;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


